<!DOCTYPE html>
<html>
<head>
	<title>Piduino Aquarium Manager</title>
    <link rel="icon" href="{{ url_for('static', filename='css/images/fishy.ico') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header id="mainHeader">
		<div class="container">
			<h1>Piduino Aquarium Manager</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{{url_for('main.index')}}">Home</a></li>

			</ul>
		</div>
	</nav>

	<section id="banner"></section>

     <div class="container">
        <section id="contentArea">
            {% block mainContent %}{% endblock %}
        </section>
        {% block sidebar %}
        <aside id="sidebar">
			<h1>Status</h1>
            <div id="sidebarContent">
                <div id="sidebarSubcontent">
                    <h2>Next Feed Time:</h2>
                    <p>{{ nextFeedTime }}</p>
                </div>
                <div id="sidebarSubcontent">
                    <h2>Last Feed Time:</h2>
                    <p>{{ lastFeedTime }}</p>
                </div>
                <div id="sidebarSubcontent">
                    <h2>Feeder Status:</h2>
                    <p>{{ status }}</p>
                </div>
            </div>
        </aside>
        {% endblock %}
    </div>

	<footer id="mainFooter">
		<p>Copyright &copy; 2017 1807 Productions</p>
	</footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
